/* Background colors */

$background-principal: #1A120B; /* HEADER COLOR */
$background-secondary: #7E7474; /* MAIN COLOR */
$background-terciario: #C4B6B6; /* FOOTER COLOR */
$background-cuartario: #2a5fc08c; /* MAIN QUIENSOY COLOR */

/* Fonts colors */

$font-color-primary: #F8F5F1;
$font-color-secondary: black;
$font-color-terciario: black;
$font-color-cuartario: black;