/* Background colors */

$background-principal: #2C3639; /* HEADER COLOR */
$background-secondary: #FAEFDD; /* MAIN COLOR */
$background-terciario: #F2EFEA; /* FOOTER COLOR */
$background-cuartario: #9BA4B5;

/* Fonts colors */

$font-color-primary: #F8F5F1;
$font-color-secondary: black;
$font-color-terciario: black;
$font-color-cuartario: black;