header{
    background-color: $background-principal; 
    height: 100%;
    nav{
        div{
            img{
                width: 170px;
                height: 50px;
                padding-left: 15px;
                transition: 0.4s;
            }
            img:hover{
                transform: scale(1.1);
                transition: 0.4s;
            }
        }
            h2{
                font-size: 35px;
                color: $font-color-primary;
            }
            h2:hover, h3:hover{
                color: red;
                animation-name: h2nombre;
                animation-duration: 10s;
                @keyframes h2nombre {
                    0%   {color: red;}
                    10%  {color: yellow;}
                    20%  {color: blue;}
                    30% {color: violet;}
                    40% {color: pink;}
                    50% {color: orange;}
                    60% {color: green;}
                    70% {color: grey;}
                    80% {color: black;}
                    90% {color: wheat;}
                    100% {color: white;}
                }
                
            }
            h3{
                font-size: 25px;
                color: $font-color-primary;
                text-align: center;
            }
            ul{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: 25px;
                margin: 0px 15px 0px 0px;
                li{
                    list-style: none;
                    list-style-type: none;
                    a{
                        font-size: 25px;
                        text-decoration: none;
                        color: $font-color-primary;
                        transition-duration: .4s;
                    }
                    a:hover{
                        transition-duration: .4s;
                        color: red;
                    }
                }
            }
        }
    }

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

